@model app.timesheet.com.ActivityViewModel
@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="card flex-fill w-100">
    <div class="card-header border-bottom">
        @*<div class="card-actions float-right  ">
                <button class="btn btn-link global-modal-close" >
                    <i class="fas fa-times cursor-pointer" title="Close"></i>
                </button>
            </div>*@
        @{
            var Method = "";
            if (Model.Mode == "Add") {
                <h5 class="card-title mb-0">Add Activity</h5>
                Method = "Save";
            }
            else {
                <h5 class="card-title mb-0">Edit Activity</h5>
                Method = "Edit";
            }
        }
    </div>
    <div class="card-body d-flex">
        <div class="w-100">
            <form id="ActivityForm">
                @*@using (Ajax.BeginForm(Method, null, new AjaxOptions() { OnSuccess = "onSuccess", OnFailure = ""}, htmlAttributes: new  { id = "ActivityForm" })) {*@
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-sm-12 form-group">
                        @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.DepartmentID, new SelectList(Model.DepartmentList, "ParamValue", "ParamText")
                                                        , "Select Department", new { @id= "ddlDepartment",  @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @Html.LabelFor(model => model.CustomerProductMappingID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CustomerProductMappingID, new SelectList(Model.CustomerProductMappingList, "ParamValue", "ParamText")
                                                        , "Select Customer-Product Mapping", new { @id = "ddlMapping",  @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerProductMappingID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @Html.LabelFor(model => model.ActivityCode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ActivityCode, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.ActivityCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @Html.LabelFor(model => model.ActivityName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ActivityName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @{
                            if (Model.Mode == "Add") {
                                <input type="button" id="btnAction" value="Save" class="btn btn-outline-primary btn-block rounded-0" />
                            }
                            else {
                                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @id = "Activity-id" });
                                <input type="button" id="btnUpdate" value="Update" class="btn btn-outline-primary btn-block rounded-0" />
                            }
                        }

                    </div>
                </div>
                @* } *@
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            //$("#btnAction").off("click");
            $("#btnAction").on("click", function () {
                const ActivityForm = $("#ActivityForm");
                if (ActivityForm.valid()) {
                    SaveActivityDetails(ActivityForm.serialize(), onSuccess);
                }
            })

            $("#btnUpdate").on("click", function () {
                
                const ActivityForm = $("#ActivityForm");
                const id = $("#Activity-id").val();
                if (ActivityForm.valid()) {
                    UpdateActivityDetails(id, ActivityForm.serialize(), onSuccess);
                }
            })

            $("#ddlDepartment").select2();
            $("#ddlMapping").select2();
        })

        function onSuccess(data) {
            const notifier = getNotifier();
            if (data["isError"]) {
                notifier.error(data["message"]);
                return;
            }
            else {
                document.getElementById("ActivityForm").reset();
                notifier.success(data["message"]);
                return;
            }
        }
    </script>
</div>

