@model IEnumerable<db.timesheet.com.Activity>

<div class="card flex-fill">
    <div class="card-header border-bottom">
        <div class="card-actions float-right  ">
            <button class="btn btn-outline-primary shadow-sm" id="btnAddEntity">
                <i class="fa fa-plus cursor-pointer" title="Add Activity"></i>
            </button>
        </div>
        <h5 class="card-title mb-0">Activities</h5>
    </div>
    <div id="datatables-dashboard" class="card-body">
        <div class="row">
            <div class="col-sm-12 px-0">
                <table class="dataTable table table-striped custom-datatables" id="Activitylist">
                    <thead>
                        <tr>

                            <th>
                                Activity Code
                            </th>
                            <th>
                                Activity Name
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Customer
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Created Date Time
                            </th>
                            <th>
                                Updated By
                            </th>
                            <th>
                                Updated Date Time
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @if (Model == null || Model?.Count() == 0) {
                        <tbody>
                            <tr>
                                <td colspan="10"> No Record Found </td>
                            </tr>
                        </tbody>
                    }
                    else {
                        <tbody>
                            @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActivityCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActivityName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                </td>
                                <td>
                                    @Html.Label(item.CustomerProductMapping.Customer.CustomerName)
                                </td>
                                <td>
                                    @Html.Label(item.CustomerProductMapping.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDtim)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDtim)
                                </td>
                                <td>
                                    <a href="javascript:void(0)" id="btnEditActivity" onclick="EditActivity('@item.ID')" data-id="@item.ID">
                                        <i class="fa fa-pen cursor-pointer" title="edit"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       

        $("#btnAddActivity").off("click");
        $("#btnEditActivity").off("click");

        $("#btnAddEntity").on('click', function () {
            OpenGlobalPopup("@Url.Content("~/Activity/Add")")
        })

        @*$("#btnEditActivity").on('click', function (e) {
            const id = $(this).data("id");
            const editUrl = "@Url.Content("~/Activity/Update")"  + "/" + id;
            OpenGlobalPopup(editUrl)
        })*@

        $('.custom-datatables').DataTable({
            responsive: true
        });
    })

    function EditActivity(id) {
        
            const editUrl = "@Url.Content("~/Activity/Edit")?id=" + id;
            OpenGlobalPopup(editUrl)
    }
</script>