@model app.timesheet.com.CustomerViewModel
@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="card flex-fill w-100">
    <div class="card-header border-bottom">
        @*<div class="card-actions float-right  ">
                <button class="btn btn-link global-modal-close" >
                    <i class="fas fa-times cursor-pointer" title="Close"></i>
                </button>
            </div>*@
        @{
            var Method = "";
            if (Model.Mode == "Add") {
                <h5 class="card-title mb-0">Add Customer</h5>
                Method = "Save";
            }
            else {
                <h5 class="card-title mb-0">Edit Customer</h5>
                Method = "Edit";
            }
        }
    </div>
    <div class="card-body d-flex">
        <div class="w-100">
            <form id="customerForm">    
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-sm-12 form-group">
                        @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @{
                            if (Model.Mode == "Add") {
                                <input type="button" id="btnAction" value="Save" class="btn btn-outline-primary btn-block rounded-0" />
                            }
                            else {
                                @Html.HiddenFor(model => model.ID, htmlAttributes: new { @id = "customer-id" });
                                <input type="button" id="btnUpdate" value="Update" class="btn btn-outline-primary btn-block rounded-0" />
                            }
                        }

                    </div>
                </div>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(document).ready(function () {
            //$("#btnAction").off("click");
            $("#btnAction").on("click", function () {
                const customerForm = $("#customerForm");
                if (customerForm.valid()) {
                    SaveCustomerDetails(customerForm.serialize(), onSuccess);
                }
            })

            $("#btnUpdate").on("click", function () {
                
                const customerForm = $("#customerForm");
                const id = $("#customer-id").val();
                if (customerForm.valid()) {
                    UpdateCustomerDetails(id, customerForm.serialize(), onSuccess);
                }
            })
        })

        function onSuccess(data) {
            const notifier = getNotifier();
            if (data["isError"]) {
                notifier.error(data["message"]);
                return;
            }
            else {
                document.getElementById("customerForm").reset();
                notifier.success(data["message"]);
                return;
            }
        }
    </script>
</div>

