@model IEnumerable<db.timesheet.com.Customer>

<div class="card flex-fill">
    <div class="card-header border-bottom">
        <div class="card-actions float-right  ">
            <button class="btn btn-outline-primary shadow-sm" id="btnAddEntity">
                <i class="fa fa-plus cursor-pointer" title="Add customer"></i>
            </button>
        </div>
        <h5 class="card-title mb-0">Customers</h5>
    </div>
    <div id="datatables-dashboard" class="card-body">
        <div class="row">
            <div class="col-sm-12 px-0">
                <table class="dataTable table table-striped custom-datatables" id="Customerlist">
                    <thead>
                        <tr>
                            <th>
                                Customer Code
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Created Date Time
                            </th>
                            <th>
                                Updated By
                            </th>
                            <th>
                                Updated Date Time
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @if (Model == null || Model?.Count() == 0) {
                        <tbody>
                            <tr>
                                <td colspan="7"> No Record Found </td>
                            </tr>
                        </tbody>
                    }
                    else {
                        <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDtim)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedDtim)
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" id="btnEditCustomer" onclick="EditCustomer('@item.ID')" data-id="@item.ID">
                                            <i class="fa fa-pen cursor-pointer" title="edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#btnAddCustomer").off("click");
        $("#btnEditCustomer").off("click");

        $("#btnAddEntity").on('click', function () {
            OpenGlobalPopup("@Url.Content("~/Customer/Add")")
        })

        @*$("#btnEditCustomer").on('click', function (e) {
            const id = $(this).data("id");
            const editUrl = "@Url.Content("~/Customer/Update")"  + "/" + id;
            OpenGlobalPopup(editUrl)
        })*@
        $('.custom-datatables').DataTable();

    })

    function EditCustomer(id) {
        
            const editUrl = "@Url.Content("~/Customer/Edit")?id=" + id;
            OpenGlobalPopup(editUrl)
    }
</script>